[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
pyjwt = "*"
influxdb = "*"
liquidpy = {git = "https://github.com/mitsutoshi/liquidpy",ref = "master"}
python-bitbankcc = {git = "https://github.com/bitbankinc/python-bitbankcc"}

[requires]
python_version = "3.10"

[scripts]
rebalance = "python rebalance.py"
get_balance = "python get_balance.py"
get_deposit = "python get_deposit.py"
get_execution = "python get_execution.py"
