[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pyjwt = "*"
influxdb = "*"
liquidpy = {git = "https://github.com/mitsutoshi/liquidpy",ref = "master"}

[requires]
python_version = "3.8"

[scripts]
rebalance = "python rebalance.py"
get_balance = "python get_balance.py"
get_deposit = "python get_deposit.py"
get_execution = "python get_execution.py -a"
